<div class="relative overflow-x-auto w-4/5 mx-auto">
    <button type="button" class="text-white bg-purple-700 hover:bg-purple-800 focus:outline-none focus:ring-4 focus:ring-purple-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900"
    routerLink="/ingredientes-create" *ngIf="isAdmin() || isUser()">Crear Ingrediente</button>
    <table class="max-w-full w-full whitespace-nowrap rounded-lg overflow-hidden text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Ingrediente
                </th>
                <th scope="col" class="px-6 py-3">
                    Unidades
                </th>
                 <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Edit</span>
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only" >Edit</span>
                </th>
               
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let ingrediente of ingredientes">
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" *ngIf="ingrediente.status !== 0">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ingrediente.ingredientes}}
                  </th>
                  <td class="px-6 py-4">
                    {{ingrediente.unidades}}
                  </td>
                 
                  <td class="px-6 py-4 text-right">
                    <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline" *ngIf="isAdmin()||isUser()" (click)="editarIngrediente(ingrediente.id)" >Edit</a>
                  </td>
                  <td class="px-6 py-4 text-right">
                    <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline" *ngIf="isAdmin()||isUser()" (click)="eliminarIngrediente(ingrediente.id)">Delete</a>
                    </td> 
                    
              </ng-container>
              
        </tbody>
        
    </table>
 
</div>
