

  <router-outlet></router-outlet>
  <div class="font-sans">
    <div class="relative min-h-screen flex flex-col sm:justify-center items-center bg-gray-100 ">
        <div class="relative sm:max-w-sm w-full">
            <div class="relative w-full rounded-3xl  px-6 py-4 bg-gray-100 shadow-md">
                <label for="" class="block mt-3 text-2xl text-gray-700 text-center font-semibold">
                   Iniciar Sesión
                </label>
                <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="mt-10">
                                    
                    <div class="mt-7">                
                        <input type="email" formControlName="email" class="form-control" placeholder="Correo electronico" class="mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0">        
                        <div class="bg-red-100 rounded-lg py-5 px-6 mb-4 text-base text-red-700 mb-3" role="alert" [hidden]="email.valid ||email.pristine">
                            <span *ngIf="email.errors?.['required']">Correo Obligatorio.</span>
                            <span *ngIf="email.errors?.['email']">Correo Invalido.</span>
                          </div>                                  
                    </div>

                    <div class="mt-7">                
                        <input type="password" formControlName="password" class="form-control" placeholder="Contraseña" 
                        class="mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0">   
                        <div class="bg-red-100 rounded-lg py-5 px-6 mb-4 text-base text-red-700 mb-3" role="alert" [hidden]="password.valid || password.pristine">
                            <span *ngIf="password.errors?.['required']">Contraseña obligatorio</span>
                            <span *ngIf="password.errors?.['minlength']">Debe tener minimo 5 letras</span>
                          </div>                      
                    </div>
               
                    <div class="mt-7 flex flex-col items-center">
                      <button class="bg-blue-500 hover:bg-blue-700 w-full text-white font-bold py-2 px-4 rounded-full hover:shadow-inner" [disabled]="form.invalid">
                        Iniciar sesion
                      </button>
                      <a class="text-blue-400 hover:text-blue-500" routerLink="/registrarse" routerLinkActive="active">¿No tienes cuenta? Registrate</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
