<!-- <div class="flex flex-row ">
    <div class="imagen basis-1/4  h-screen ">   
    </div>
  
    <div class="basis-1/4">
      <h3 class="text-4xl font-light text-green-700 pt-5 pl-10">Editar Propietario</h3>
  
      <form [formGroup]="chefForm" (ngSubmit)="onSubmit(chefForm.value)" class="pt-5 pl-10">
      
        <div class="mb-6"> 
          <label for="Nombre" class="block mb-2 text-md font-light text-gray-900">Nombre</label>
          <input type="text" formControlName="nombre" id="Nombre" [ngClass]="{'border border-2 border-red-400': chefForm.get('nombre')?.invalid && chefForm.get('nombre')?.touched}" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500  block w-full p-2.5 " placeholder="Ingresa tu nombre..." required>
  
         
          <div *ngIf="chefForm.get('nombre')?.invalid && chefForm.get('nombre')?.touched" class="flex p-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 mt-3" role="alert">
            <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
            <span class="sr-only">Info</span>
            <div>
              <span class="font-medium">Error en la validacion!</span> El nombre es requerido.
            </div>
          </div>
        </div>
  
      
        <div class="mb-6"> 
          <label for="ap_paterno" class="block mb-2 text-md font-light text-gray-900">Apellido Paterno</label>
          <input formControlName="ap_paterno" type="text" id="ap_paterno" [ngClass]="{'border border-2 border-red-400': chefForm.get('ap_paterno')?.invalid && chefForm.get('ap_paterno')?.touched}" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500  block w-full p-2.5 " placeholder="Ingresa tu apellido..." required>
  
      
          <div *ngIf="chefForm.get('ap_paterno')?.invalid && chefForm.get('ap_paterno')?.touched" class="flex p-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 mt-3" role="alert">
            <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
            <span class="sr-only">Info</span>
            <div>
              <span class="font-medium">Error en la validacion!</span> El apellido paterno es requerido.
            </div>
          </div>
        </div>
  

        <div class="mb-6"> 
          <label for="ap_materno" class="block mb-2 text-md font-light text-gray-900">Apellido Materno</label>
          <input type="tel" formControlName="ap_materno" id="ap_materno" [ngClass]="{'border border-2 border-red-400': chefForm.get('ap_materno')?.invalid && chefForm.get('ap_materno')?.touched}" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500  block w-full p-2.5 " placeholder="Ingresa tu apellido..." required>
  
  
          <div *ngIf="chefForm.get('ap_materno')?.invalid && chefForm.get('ap_materno')?.touched" class="flex p-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 mt-3" role="alert">
            <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
            <span class="sr-only">Info</span>
            <div>
              <span class="font-medium">Error en la validacion!</span> El apellido materno es requerido.
            </div>
          </div>
        </div>  
  
   
        <div class="mb-6"> 
          <label for="sexo" class="block mb-2 text-md font-light text-gray-900">Sexo</label>
          <select formControlName="nacionalidad" id="nacionalidad" [ngClass]="{'border border-2 border-red-400': nacionalidad.invalid && nacionalidad.touched}" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500  block w-full p-2.5" required>
            <option value="Italiana">Italiana</option>
            <option value="Mexicana">Mexicana</option>
          </select>
  
     
          <div *ngIf="nacionalidad.invalid && nacionalidad.touched" class="flex p-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 mt-3" role="alert">
            <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
            <span class="sr-only">Info</span>
            <div>
              <span class="font-medium">Error en la validacion!</span> La nacionalidad es requerida.
            </div>
          </div>
        </div>    
  
     
        <div class="mb-6"> 
          <label for="edad" class="block mb-2 text-md font-light text-gray-900">Edad</label>
          <input type="text" [ngClass]="{'border border-2 border-red-400': edad.invalid && edad.touched}" class="rounded-lg p-2.5" id="edad" name="edad" formControlName="edad" min="18" max="100">
  
       
          <div *ngIf="edad.invalid && edad.touched" class="flex p-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 mt-3" role="alert">
            <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
            <span class="sr-only">Info</span>
            <div>
              <span class="font-medium">Error en la validacion!</span> La edad es requerida.
            </div>
          </div>
        </div> 
  
      
        <button type="submit" [ngClass]="{ 'button-failed': apiFailed }" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4  font-medium rounded-lg text-sm w-full sm:w-auto px-6 py-1.5 text-center">Editar Chef</button>
      </form>
    </div>
  </div> -->


<div class="font-sans">
  <div class="relative min-h-screen flex flex-col sm:justify-center items-center bg-gray-100 ">
      <div class="relative sm:max-w-sm w-full">
          <div class="relative w-full rounded-3xl  px-6 py-4 bg-gray-100 shadow-md">
              <label for="" class="block mt-2 text-2xl text-gray-700 text-center font-semibold">
                 Editar Chef
              </label>
              <form [formGroup]="chefForm" (ngSubmit)="onSubmit(chefForm.value)" class="mt-10">
                                  
                  <div class="mt-7">                
                      <input type="text" formControlName="nombre"  class="form-control" placeholder="Nombres" class="mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0">        
                      <div class="bg-red-100 rounded-lg py-5 px-6 mb-4 text-base text-red-700 mb-3" role="alert" [hidden]="nombre.valid ||nombre.pristine">
                          <span *ngIf="nombre.errors?.['required']">Nombre obligatorio.</span>
                          <span *ngIf="nombre.errors?.['minlength']">Debe tener minimo 3 caracteres</span>
                          <span *ngIf="nombre.errors?.['maxlength']">Debe tener minimo 25 caracteres</span>
                        </div>                                  
                  </div>
      
                  <div class="mt-7">                
                      <input type="text" formControlName="ap_paterno" class="form-control" placeholder="Apellido Paterno" class="mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0">        
                      <div class="bg-red-100 rounded-lg py-5 px-6 mb-4 text-base text-red-700 mb-3" role="alert" [hidden]="ap_paterno.valid ||ap_paterno.pristine">
                          <span *ngIf="ap_paterno.errors?.['required']">Correo Obligatorio.</span>
                          <span *ngIf="ap_paterno.errors?.['minlength']">Debe tener minimo 3 caracteres.</span>
                          <span *ngIf="ap_paterno.errors?.['maxlength']">Maximo 30 caracteres.</span>
                        </div>                                  
                  </div>

                  <div class="mt-7">                
                      <input type="text" formControlName="ap_materno" class="form-control" placeholder="Apellido Materno" class="mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0">        
                      <div class="bg-red-100 rounded-lg py-5 px-6 mb-4 text-base text-red-700 mb-3" role="alert" [hidden]="ap_materno.valid ||ap_materno.pristine">
                          <span *ngIf="ap_materno.errors?.['required']">Correo Obligatorio.</span>
                          <span *ngIf="ap_materno.errors?.['minlength']">Debe tener minimo 3 caracteres.</span>
                          <span *ngIf="ap_materno.errors?.['maxlength']">Maximo 30 caracteres.</span>
                        </div>                                  
                  </div>

                  <label for="nacionalidad"  class="block mb-2 text-sm font-medium text-gray-900 bg-white:text-white">Seleccione su nacionalidad"</label>
                  <select id="countries"  formControlName="nacionalidad"  class="form-control" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-100:bg-gray-700 bg-gray-100:border-gray-600 bg-gray-100:placeholder-gray-400 bg-gray-100::text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

                    <option value="Italiana">Italiana</option>
                    <option value="Mexicana">Mexicana</option>
                  </select>
                  
                  <div class="mt-7">                
                      <input type="text" formControlName="edad" class="form-control" placeholder="Edad" 
                      class="mt-1 block w-full border-none bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0">   
                      <div class="bg-red-100 rounded-lg py-5 px-6 mb-4 text-base text-red-700 mb-3" role="alert" [hidden]="edad.valid || edad.pristine">
                          <span *ngIf="edad.errors?.['required'] && edad.touched">Edad requerida.</span>
                          <span *ngIf="edad.errors?.['minlength']&& edad.touched">Minimo 2 caracteres.</span>
                        </div>                      
                  </div>
                  
                  <div class="mt-7 flex flex-col items-center">
                      <button class="bg-blue-500 hover:bg-blue-700 w-full text-white font-bold py-2 px-4 rounded-full hover:shadow-inner" 
                      type="submit">
                         Editar chef
                      </button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

