<!-- <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Id
                </th>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Email
                </th>
                <th scope="col" class="px-6 py-3">
                   Role
                </th>
                <th scope="col" class="px-6 py-3">
                    Status
                 </th>
                 <th scope="col" class="px-6 py-3">
                    Telefono
                 </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{user.id}}
                </th>
                <td class="px-6 py-4">
                    {{user.name}}
                </td>
                <td class="px-6 py-4">
                    {{user.email}}
                </td>
                <td class="px-6 py-4">
                    {{user.rol_id}}
                </td>
                <td class="px-6 py-4">
                {{user.status}}
                </td>
                <td class="px-6 py-4">
                    {{user.telefono}}
                </td>
            </tr>
        </tbody>
    </table>
</div> -->
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Id
                </th>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Email
                </th>
                <th scope="col" class="px-6 py-3">
                    Role
                </th>
                <th scope="col" class="px-6 py-3">
                   Status
                </th>
                <th scope="col" class="px-6 py-3">
                    Telefono
                 </th>
                 <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Edit</span>
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Eliminar</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{user.id}}
                </th>
                <td class="px-6 py-4">
                {{user.name}}
                </td>
                <td class="px-6 py-4">
                    {{user.email}}
                </td>
                <td class="px-6 py-4">
                    {{user.rol_id}}
                </td>
                <td class="px-6 py-4">
                   {{user.status}}
                </td>
                <td class="px-6 py-4">
                    {{user.telefono}}
                </td>
                <td class="px-6 py-4 text-right">
                    <a (click)="openEditDialog(user)" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                </td>
                <td class="px-6 py-4 text-right">
                    <a (click)="onDelete(user.id, user.rol_id)" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Delete</a>
                
                </td> 
            </tr>
        </tbody>
    </table>
</div>