<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Nombre
                </th>
                <th scope="col" class="px-6 py-3">
                    Apellido paterno
                </th>
                <th scope="col" class="px-6 py-3">
                    Apellido Materno
                </th>
                <th scope="col" class="px-6 py-3">
                   Nacionalidad
                </th>
                <th scope="col" class="px-6 py-3">
                    Edad
                 </th>
                 <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Edit</span>
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Edit</span>
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Edit</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let chef of chefs" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{chef.nombre}}
                </th>
                <td class="px-6 py-4">
                    {{chef.ap_paterno}}
                </td>
                <td class="px-6 py-4">
                    {{chef.ap_materno}}
                </td>
                <td class="px-6 py-4">
                    {{chef.nacionalidad}}
                </td>
                <td class="px-6 py-4">
                {{chef.edad}}
                </td>
                <td class="px-6 py-4 text-right">
                    <a  class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                </td>
                <td class="px-6 py-4 text-right">
                    <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Delete</a>
                
                </td> 
                <td class="px-6 py-4 text-right">
                    <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline" routerLink="/chef-create">Create</a>
                
                </td> 
            </tr>
        </tbody>
    </table>
</div> 
